/* Viewport stuff */
html, body {
	margin: 0;
	min-height: 100vh;
	font-size: 16px;
}

/* General homepage stuffs */
.home__body {
	margin-bottom: 2rem;	
}

.home__title {
	text-align: center;
	font-size: 3rem;
}

.home__meta {
	text-align: center;	
}

.home__end {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.home__footer_meta {
	text-align: center;
	font-style: italic;
}


/* Related to the mass of aggregators */
.aggregator__latest_posts {
	display: flex;
	flex-wrap: wrap;
}

.aggregator__meta {
	margin: 0;
	font-style: italic;
	text-align: center;
}

.aggregator__title {
	margin: 1rem 0 0 0;
	text-align: center;
}


/* Post box specific */
.post {
	padding: 1rem;
	max-width: calc(33% - 2rem);
}

.aggregator__title small {
	font-style: italic;
	font-weight: 400;
}

.post__blurb img {
	width: 200px;
	max-width: 100%;
	float: left;
	margin: 0 1rem 1rem 0;
}
