/* Viewport stuff */
html, body {
	margin: 0;
	min-height: 100vh;
	font-size: 16px;
}

/* General homepage stuffs */
a {
	color: #d22820;
	box-shadow: 0 0 0 0 #d22820;
	text-decoration: none;
}

a:hover {
	color: #981117;
}

a:focus {
	box-shadow: 0 0 0 3px #d22820;
}

a:focus, a:hover {
	text-decoration: underline;
}

.home__body {
	padding: 2rem calc(2rem + 5px);
	max-width: 1300px;
	margin: auto;
}

.home__title {
	text-align: center;
	font-size: 3rem;
}

.home__meta {
	text-align: center;
}

.home__end {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.home__stickyflex {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: space-between;
}

.home__contents {
	display: flex;
	justify-content: center;
	position: sticky;
  	top: 20px;
}

.home__footer_meta {
	text-align: center;
	font-style: italic;
}

.home__aggregators > ul {
	list-style: none;
	margin: 0;
	padding: 0 1rem 0 0;
}

/* Table of contents related */
.aggregator {
	/*position: relative;*/
	margin-bottom: 1rem;
}

.aggregator__contents {
	margin: 0;
	padding: 1rem;
	list-style: none;
	border: 1px solid black;
}

.aggregator__contents > li {
	width: 100%;
	position: relative;
}

.aggregator__contents > li > ul {
	position: relative;
	top: calc(-1em - 3px);
	list-style: none;
	margin: 0;
	padding: 0 0 0 calc(1em + 10px);
}

.aggregator__contents > li > ul > li {
	font-weight: 400;
}

/* Related to the mass of aggregators */
.aggregator__latest_posts {
	/*display: flex;
	flex-wrap: wrap;*/
	list-style: none;
}

.aggregator__meta {
	margin: 0;
	font-style: italic;
}

.aggregator__title {
	/*margin: 1rem 0 0 0;
	position: relative;
	left: -2rem;*/
	margin: 0;
}

.aggregator__link {
	margin: 0;
}

/* Post box specific */
.post {
	/*padding: 1rem;
	max-width: calc(33% - 2rem);*/
}

.aggregator__title small {
	font-style: italic;
	font-weight: 400;
}

.post__blurb {
	max-height: 295px;
	overflow-y: hidden;
}

.post__blurb img {
	width: 200px;
	max-width: 100%;
	float: left;
	margin: 0 1rem 1rem 0;
}

.post__title {
	margin: 0;
	width: 520px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}