/* Viewport stuff */
html, body {
	margin: 0;
	min-height: 100vh;
	font-size: 16px;
}

/* General homepage stuffs */
a {
	color: #d22820;
	box-shadow: 0 0 0 0 #d22820;
	text-decoration: none;
}

a:hover {
	color: #981117;
}

a:focus {
	box-shadow: 0 0 0 3px #d22820;
}

a:focus, a:hover {
	text-decoration: underline;
}

.home__body {
	padding: 2rem calc(2rem + 5px);
	max-width: 1300px;
	margin: auto;
}

.home__title {
	text-align: center;
	font-size: 3rem;
}

.home__meta {
	text-align: center;
}

.home__end {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.home__footer_meta {
	text-align: center;
	font-style: italic;
}

/* Table of contents related */
.aggregator {
	position: relative;
}

.aggregator__contents {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1rem;
	list-style: none;
}

.aggregator__contents > li {
	width: 300px;
	position: relative;
	font-weight: bold;
}

.aggregator__contents > li > ul {
	position: relative;
	top: -1em;
	list-style: none;
	margin: 0;
	padding: 0 0 0 calc(1em + 10px);
}

.aggregator__contents > li > ul > li {
	font-weight: 400;
}

	/* Related to the mass of aggregators */
.aggregator__latest_posts {
	display: flex;
	flex-wrap: wrap;
}

.aggregator__meta {
	margin: 0;
	font-style: italic;
}

.aggregator__title {
	margin: 1rem 0 0 0;
	position: relative;
	left: -2rem;
}


/* Post box specific */
.post {
	padding: 1rem;
	max-width: calc(33% - 2rem);
}

.aggregator__title small {
	font-style: italic;
	font-weight: 400;
}

.post__blurb {
	max-height: 295px;
	overflow-y: hidden;
}

.post__blurb img {
	width: 200px;
	max-width: 100%;
	float: left;
	margin: 0 1rem 1rem 0;
}
