@media only screen and (max-width: 1200px) {
	.post {
		max-width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.post__blurb img {
		width: 100%;
		float: none;
	}
}

@media only screen and (max-width: 860px) {
	.home__stickyflex {
		display: block;
	}

	.home__contents {
		position: relative;
		top: 0;
	}
}